.themeChangeDropdown {
    color: black;
}

.lightMode, .darkMode {
    color: black;
}

.lightMode {
    outline: -webkit-focus-ring-color auto 1px;
}

.lightMode:active, .darkMode:active {
    background-color: gray;
}

.maleWOtext {
    color: #444444; font-size: 12pt;
}

.WOholder {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}


